extends ../layout 

block content
        h1 Books
        p
        a.button(href='/books/new') Create New Book
        
        table
            thead
                ul    
                tr
                th Title 
                    each book in books
                        br
                        ul
                        a(href='/books/' + book.id )=book.title 
                    th  Author
                        br
                        each book in books
                            ul=book.author
                    th  Genre
                        br
                        each book in books
                            ul=book.genre
                    th  Year
                        br
                        each book in books  
                            ul=book.year